.HomeNavContainer {
  padding-top: 4em;
  padding-bottom: 4em;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.HomeLogo {
  width: 50px;
  height: 50px;
  border: 5px solid #494c4e;
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
}

.HomeLogo:hover {
  transform: rotate(360deg);
}
.HomeNameSpan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  font-weight: bold;
  font-size: 22px;
}
.HomeNameInfo {
  font-size: 2em;
  line-height: 1.5em;
  padding-bottom: 2em;
}
.HomeMyImage {
  display: inline-block !important;
}
.HomeAboutContent {
  padding: 0 1.5em;
  padding-bottom: 2em;
}
.HomeAboutHeader {
  padding-bottom: 2em;
  font-size: 1.5em;
}
.HomeAboutParagraph {
  font-size: 1em;
  word-spacing: 4px;
}
.HomeProjectContent {
  padding: 0 1.5em;
  padding-bottom: 2em;
}
.HomeProjectHeader {
  padding-bottom: 2em;
  font-size: 1.5em;
}
.HomeContactContent {
  padding: 0 1.5em;
  padding-bottom: 2em;
}
.HomeContactHeader {
  padding-bottom: 2em;
  font-size: 1.5em;
}
.HomeContactParagraph {
  font-size: 1.25em;
  word-spacing: 4px;
}
@media (min-width: 1025px) {
  .HomeMyImage {
    width: 50%;
  }
  .HomeNameInfo {
    font-size: 3em;
  }
  .HomeAboutContent {
    padding: 0 10em;
    padding-bottom: 15em;
  }
  .HomeAboutHeader {
    font-size: 1.25em;
  }
  .HomeProjectContent {
    padding: 0 10em;
    padding-bottom: 15em;
  }
  .HomeAboutParagraph {
    font-size: 1.25em;
    padding: 0 2em;
  }
  .HomeProjectHeader {
    font-size: 1.25em;
  }
  .HomeContactContent {
    padding: 0 10em;
    padding-bottom: 15em;
  }
  .HomeContactHeader {
    font-size: 1.25em;
  }
  .HomeContactParagraph {
    font-size: 1.25em;
    padding: 0 2em;
  }
}
