.HomeContent {
  padding-left: 1.5em;
  padding-bottom: 2em;
  padding-right: 1.5em;
}
.HomePadding {
  margin-top: 2.5em;
  padding-top: 2.5em;
  border-radius: 30px;
  animation: Pulse 4s infinite ease-in-out;
}
.HomePadding:last-child {
  margin-bottom: 2.5em;
}
.HomeHeaders {
  color: #1e899c;
  padding-bottom: 2em;
  font-size: 1.5em;
}
.HomeParagraph {
  font-size: 1em;
  word-spacing: 4px;
}

.Toastify__toast {
  border-radius: 15px;
  font-size: 1.1em;
  text-align: center;
}

@media (min-width: 1023px) {
  .HomeContent {
    padding-bottom: 5em;
  }
  .HomeHeaders {
    font-size: 2em;
  }
  .HomeParagraph {
    font-size: 1.5em;
    padding: 0 2em;
  }
}
