.HomeContent {
  padding-left: 1.5em;
  padding-bottom: 2em;
  padding-right: 1.5em;
}
.HomePadding {
  margin-top: 2.5em;
  padding-top: 2.5em;
  border-radius: 30px;
  animation: Pulse 10s infinite ease-in-out;
}
.HomePadding:last-child {
  margin-bottom: 2.5em;
}
.HomeHeaders {
  filter: drop-shadow(5px 5px 4px grey);
  color: #1e899c;
  padding-bottom: 0.5em;
  font-size: 1.5em;
}
.HomeParagraph {
  font-size: 1em;
  word-spacing: 4px;
}
.AboutSubSectionContent{
  transition: 0.25s ease;
  padding:10px 0px;
  box-shadow: 0 0 5px 5px lightgrey;
  margin-bottom: 30px;
}
.AboutSubSectionContent:hover {
  transform: translateY(-0.50rem)
}
.AboutSubSectionUniLabel {
  display: block !important;
  margin: 10px auto !important;
  width: 35%;
}
.AboutSubSectionSchoolLabel{
  display: block !important;
  margin: 10px auto !important;
  width: 25%;
}
.AboutSubSectionExpLabel{
  display: block !important;
  margin: 10px auto !important;
  width: 40%;
}

.Toastify__toast {
  border-radius: 15px;
  font-size: 1.1em;
  text-align: center;
}



@media (max-width: 991px) {
  .AboutSubSectionUniLabel {
    width: 45%;
  }
  .AboutSubSectionSchoolLabel{
    width: 35%;
  }
  .AboutSubSectionExpLabel{
    width: 55%;
  }
}
@media (max-width: 767px) {
  .AboutSubSectionUniLabel {
    width: 25%;
  }
  .AboutSubSectionSchoolLabel{
    width: 20%;
  }
  .AboutSubSectionExpLabel{
    width: 30%;
  }
}

@media (max-width: 607px) {
  .AboutSubSectionUniLabel {
    width: 30%;
  }
  .AboutSubSectionSchoolLabel{
    width: 25%;
  }
  .AboutSubSectionExpLabel{
    width: 35%;
  }
}
@media (max-width: 498px) {
  .AboutSubSectionUniLabel {
    width: 35%;
  }
  .AboutSubSectionSchoolLabel{
    width: 30%;
  }
  .AboutSubSectionExpLabel{
    width: 45%;
  }
}
@media (max-width: 420px) {
  .AboutSubSectionUniLabel {
    width: 50%;
  }
  .AboutSubSectionSchoolLabel{
    width: 40%;
  }
  .AboutSubSectionExpLabel{
    width: 60%;
  }
}

@media (min-width: 1023px) {
  .HomeContent {
    padding-bottom: 3em;
  }
  .HomeHeaders {
    font-size: 2em;
  }
  .HomeParagraph {
    font-size: 1.5em;
    padding: 0 2em;
  }
}
