.WikiMoviesAnimation {
  padding: 2em 1.5em;
  font-size: 2.5em;
  text-align: center;
}
.WikiMoviesAnimation span {
  display: inline-block;
}
.WikiMoviesAnimation span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.WikiMoviesAnimation span:nth-of-type(3) {
  animation-delay: 0.1s;
}
.WikiMoviesAnimation span:nth-of-type(4) {
  animation-delay: 0.15s;
}
.WikiMoviesAnimation span:nth-of-type(5) {
  animation-delay: 0.2s;
}
.WikiMoviesAnimation span:nth-of-type(6) {
  animation-delay: 0.25s;
}
.WikiMoviesAnimation span:nth-of-type(7) {
  animation-delay: 0.3s;
}
.WikiMoviesAnimation span:nth-of-type(8) {
  animation-delay: 0.35s;
}
.WikiMoviesAnimation span:nth-of-type(9) {
  animation-delay: 0.4s;
}
.WikiMoviesAnimation span:nth-of-type(10) {
  animation-delay: 0.45s;
}
.WikiMoviesAnimationSpan span {
  color: black;
  padding-top: 2em;
  padding-bottom: 2em;
  opacity: 0;
  transform: translate(-150px, -50px) rotate(-180deg) scale(3);
  animation: revolveScale 0.4s forwards;
}
.WikiMoviesAbout {
  margin-top: 2.5em;
  padding: 2.5em 2.5em 3em 2.5em;
  border-radius: 30px;
  margin-bottom: 5em;
  animation: Pulse 4s infinite ease-in-out;
}
.WikiMoviesAbout:last-child {
  margin-bottom: 2.5em;
}
.WikiMoviesAboutHeader {
  padding-bottom: 2em;
  font-size: 1.5em;
}
.WikiMoviesAboutParagraph {
  font-size: 1em;
  word-spacing: 4px;
}
.WikiMoviesPhotosParagraph {
  font-size: 1.2em;
  padding-left: 1.5em;
  padding-bottom: 2em;
}
.WikiMoviesCustomizeImageLarge {
  margin: auto;
  padding-bottom: 5em;
}

@media (min-width: 1025px) {
  .WikiMoviesAnimation {
    font-size: 3em;
  }
  .WikiMoviesAboutHeader {
    font-size: 2em;
  }
  .WikiMoviesAboutParagraph {
    font-size: 1.5em;
    padding: 0 2em;
  }
  .WikiMoviesPhotosParagraph {
    font-size: 1.5em;
  }
}
@media (max-width: 375px) {
  .WikiMoviesAnimation {
    font-size: 2em;
  }
}
