.FooterStyle {
  width: 100%;
  background-color: #333;
  margin: 0 !important;
  font-family: monospace;
  color: darkgrey;
}
.FooterStyle a {
  color: inherit;
}
.FooterUl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding-top: 25px;
  padding-bottom: 15px;
  margin: 0;
}
.FooterListItem {
  width: 25%;
  list-style: none;
}
@media only screen and (max-width: 1024px) {
  .FooterListItem {
    width: 50%;
    margin-bottom: 20px;
  }
  .FooterListItem:last-child {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 570px) {
  .FooterListItem {
    width: 100%;
    margin-bottom: 50px;
  }
  .FooterListItem:last-child {
    margin-bottom: 0px;
  }
}
