.SnuggsCommerceAnimation {
  padding: 2em 1.5em;
  font-size: 2.5em;
  text-align: center;
}
.SnuggsCommerceAnimation span {
  display: inline-block;
}
.SnuggsCommerceAnimation span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.SnuggsCommerceAnimation span:nth-of-type(3) {
  animation-delay: 0.1s;
}
.SnuggsCommerceAnimation span:nth-of-type(4) {
  animation-delay: 0.15s;
}
.SnuggsCommerceAnimation span:nth-of-type(5) {
  animation-delay: 0.2s;
}
.SnuggsCommerceAnimation span:nth-of-type(6) {
  animation-delay: 0.25s;
}
.SnuggsCommerceAnimation span:nth-of-type(7) {
  animation-delay: 0.3s;
}
.SnuggsCommerceAnimation span:nth-of-type(8) {
  animation-delay: 0.35s;
}
.SnuggsCommerceAnimation span:nth-of-type(9) {
  animation-delay: 0.4s;
}
.SnuggsCommerceAnimation span:nth-of-type(10) {
  animation-delay: 0.45s;
}
.SnuggsCommerceAnimation span:nth-of-type(11) {
  animation-delay: 0.5s;
}
.SnuggsCommerceAnimation span:nth-of-type(12) {
  animation-delay: 0.55s;
}
.SnuggsCommerceAnimation span:nth-of-type(13) {
  animation-delay: 0.6s;
}
.SnuggsCommerceAnimation span:nth-of-type(14) {
  animation-delay: 0.65s;
}
.SnuggsCommerceAnimationSpan span {
  color: black;
  padding-top: 2em;
  padding-bottom: 2em;
  opacity: 0;
  transform: translate(-150px, -50px) rotate(-180deg) scale(3);
  animation: revolveScale 0.4s forwards;
}
.SnuggsCommerceLogoImage {
  margin: auto;
}
.SnuggsCommerceAbout {
  margin-top: 2.5em;
  padding: 2.5em 2.5em 3em 2.5em;
  border-radius: 30px;
  margin-bottom: 5em;
  animation: Pulse 4s infinite ease-in-out;
}
.SnuggsCommerceAbout:last-child {
  margin-bottom: 2.5em;
}
.SnuggsCommerceAboutHeader {
  padding-bottom: 2em;
  font-size: 1.5em;
}
.SnuggsCommerceAboutParagraph {
  font-size: 1em;
  word-spacing: 4px;
}
.SnuggsCommercePhotosParagraph {
  font-size: 1.2em;
  padding-left: 1.5em;
  padding-bottom: 2em;
}
.SnuggsCommerceCustomizeImageLarge {
  margin: auto;
  padding-bottom: 5em;
}
.SnuggsCommerceCustomizeImageSmall {
  margin: auto;
  padding-bottom: 5em;
  width: 25%;
}

@media (min-width: 1025px) {
  .SnuggsCommerceAnimation {
    font-size: 3em;
  }
  .SnuggsCommerceAboutHeader {
    font-size: 2em;
  }
  .SnuggsCommerceAboutParagraph {
    font-size: 1.5em;
    padding: 0 2em;
  }
  .SnuggsCommercePhotosParagraph {
    font-size: 1.5em;
  }
}
@media (max-width: 375px) {
  .SnuggsCommerceAnimation {
    font-size: 2em;
  }
}
@media (max-width: 768px) {
  .SnuggsCommerceCustomizeImageSmall {
    width: 50%;
  }
}
