html body.dark-mode {
  background-color: #10171d;
  color: #dfdfdf;
}
body.dark-mode .navbar {
  background-color: #1b2938;
}
body.dark-mode .dark-mode-toggle > button {
  color: #999;
}
body.dark-mode .dark-mode-toggle > button:last-child {
  color: lightblue;
}

body.dark-mode .content code {
  background-color: #1b2938;
}
body.dark-mode .content a {
  color: #ee0 9;
}
body.dark-mode .content button {
  color: #ee0 9;
}
body.dark-mode .BurgerAnimationSpan span {
  color: white;
}
body.dark-mode .SlackAnimationSpan span {
  color: white;
}
body.dark-mode .WikiMoviesAnimationSpan span {
  color: white;
}
body.dark-mode .NatoursAnimationSpan span {
  color: white;
}
body.dark-mode .Navsticky {
  background-color: rgba(0, 0, 0, 0.8);
}
body.dark-mode .bm-burger-bars {
  background: #717171;
}
body.dark-mode .bm-burger-bars-hover {
  background: #717171;
}
body.dark-mode .fgBsdG {
  color: #1b2938;
}
body.dark-mode .ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input {
  color: white;
  background: black;
}
body.dark-mode .ui.form textarea {
  color: white;
  background: black;
}
.dark-mode-toggle {
  display: flex;
  margin: 0 auto;
}
.dark-mode-toggle > button {
  font-size: 1.2em;
  background: none;
  border: none;
  color: #ffe600;
  cursor: pointer;
  transition: color 0.3s ease;
}
.dark-mode-toggle > button:last-child {
  color: #666;
}
.dark-mode-toggle > button:focus {
  outline: none;
}
.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}
input[type="checkbox"].dmcheck {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}
input[type="checkbox"].dmcheck:checked + label {
  left: 30px;
}
input[type="checkbox"].dmcheck:focus-visible {
  outline: solid 2px white;
}
input[type="checkbox"].dmcheck + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: #f6f6f6;
}

@keyframes revolveScale {
  60% {
    transform: translate(20px, 20px) rotate(30deg) scale(0.3);
  }
  100% {
    transform: translate(0) rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes Pulse {
  0% {
    box-shadow: 0px 0px 37px 2px rgba(55, 119, 158, 1);
  }
  25% {
    box-shadow: 0px 0px 37px 2px rgba(155, 59, 59, 1);
  }
  50% {
    box-shadow: 0px 0px 37px 2px rgba(32, 92, 55, 1);
  }
  75% {
    box-shadow: 0px 0px 37px 2px rgba(155, 59, 59, 1);
  }
  100% {
    box-shadow: 0px 0px 37px 2px rgba(55, 119, 158, 1);
  }
}
@keyframes ButtonPulse {
  0% {
    background-color: rgba(55, 119, 158, 1);
  }
  25% {
    background-color: rgba(155, 59, 59, 1);
  }
  50% {
    background-color: rgba(32, 92, 55, 1);
  }
  75% {
    background-color: rgba(155, 59, 59, 1);
  }
  100% {
    background-color: rgba(55, 119, 158, 1);
  }
}
