.BurgerNavContainer {
  padding-top: 5em;
  padding-bottom: 4em;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.BurgerHomeLogo {
  width: 50px;
  height: 50px;
  border: 5px solid #494c4e;
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
}
.BurgerImageLogo {
  margin: auto;
}
.BurgerHomeLogo:hover {
  transform: rotate(360deg);
}
.BurgerNameSpan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  font-weight: bold;
  font-size: 22px;
}
.BurgerNameInfo {
  font-size: 2em;
  line-height: 1.5em;
  padding-bottom: 2em;
}

.BurgerAboutContent {
  padding: 0 1.5em;
  padding-bottom: 2em;
}
.BurgerAboutHeader {
  padding-bottom: 2em;
  font-size: 1.5em;
}
.BurgerAboutParagraph {
  font-size: 1em;
  word-spacing: 4px;
}
.BurgerCustomizeImageSmall {
  margin: auto;
  padding-bottom: 5em;
}
.BurgerCustomizeImageLarge {
  margin: auto;
  padding-bottom: 5em;
}
@media (min-width: 1025px) {
  .BurgerImageLogo {
    width: 50%;
    height: 50%;
    margin: auto;
  }
  .BurgerCustomizeImageSmall {
    width: 50%;
    height: 50%;
  }
  .BurgerNameInfo {
    font-size: 3em;
  }
  .BurgerAboutHeader {
    font-size: 1.25em;
  }
  .BurgerAboutContent {
    padding: 0 10em;
    padding-bottom: 10em;
  }
  .BurgerAboutParagraph {
    font-size: 1.25em;
    padding: 0 2em;
  }
}
